<footer>
  <style>
    .footernotes{
      color: #333 !important;
    }
  </style>
<div class="container">
  <div class="esquerda">
  <h6 class="footernotes">Este projeto é publicado sob as regras do Creative Commons, com livre distribuição,
    inclusive para uso comercial, desde que haja crédito ao Volt Data Lab e que seu projeto
    tenha a mesma licença.</h6>
    <h6 class="footernotes">Para mais informações, <a href="LICENSE.html">clique aqui</a>.</h6>
  <h6 class="footernotes">Desenvolvido por <a href="http://voltdata.info" target="_blank">Volt Data Lab</a></h6>
  <a href="http://voltdata.info" target="_blank"><img src="../logo.png" width="60px" alt="logo" style="margin:0" /></a>
</div>
  <div class="direita">
    <h6 class="footernotes">Siga o Volt:
    <a href="https://twitter.com/voltdatalab" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    -
    <a href="https://facebook.com/voltdata" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i>
    </i></a>
  </h6 class="footernotes">
  <h6 class="footernotes">Entre em contato <a href="http://www.voltdata.info/quemsomos">neste link</a></h6>
  <h6><a href="https://medium.com/volt-data-lab" target="_blank">Blog do Volt no Medium</a></h6>
  <h6><a href="http://www.voltdata.info/passaralhos/" target="_blank">Informe sobre demissões</a></h6>
  <h6><a href="https://github.com/voltdatalab/passaralhos" target="_blank">Código do projeto</a></h6>
  <img src="logo-chape.png" width="70px" alt="Logo da Chapecoense em homenagem às vítimas do desastre de 29/11/2016"/>
</div>
</div>
</footer>
