<div id="header">
        <a href="index.html" target="_blank"> <img src="logo.png" alt="logo" id="logo"> </a>
        <div class="dropdown">
            <button class="dropbtn"><i class="fa fa-bars fa-lg" aria-hidden="true"></i> </button>
            <div class="dropdown-content">
            <a href="http://www.voltdata.info/passaralhos/" target="_blank">Informe sobre demissões</a>
            <a href="index.html">Início</a>
            <a href="metodologia.html">Metodologia</a>
            <a href="graficos.html">Gráficos explicativos</a>
            <a href="https://raw.githubusercontent.com/voltdatalab/passaralhos/gh-pages/_data/jornalistas.json">Nossa API</a>

            <a href="http://voltdata.info" target="_blank">Site do Volt <i class="fa fa-external-link" aria-hidden="true"></i></a> </div>
        </div>
</div>
