<ul class="nav">
  <a href="busca.html"><li>Busca avançada</li></a>
  <a href="graficos.html"><li>Gráficos</li></a>
  <a href="links.html"><li>Artigos</li></a>
  <a href="sobre.html"><li>O projeto</li></a>
  <a href="metodologia.html"><li>Metodologia</li></a>
  <a href="http://www.voltdata.info/passaralhos/" target="_blank"><li>Informe demissões</li></a>
</ul>

<h6 style="text-transform:uppercase;">Compartilhe:
  <a href="http://twitter.com/share?text=A Conta dos Passaralhos, um panorama sobre demissões de jornalistas no Brasil @voltdatalab &url=http://bit.ly/passaralhos" target="_blank">
  <i class="fa fa-twitter-square fa-lg" aria-hidden="true"></i></a>
  <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//bit.ly/passaralhos" target="_blank"><i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i></a>
  - <span id="perma">http://bit.ly/passaralhos</span>

</h6>
