<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="css/main.css">
{% include head.html %}
</head>
<body>
{% include headbar.html %}
<div class="container">
    <h1><a href="index.html">{{ site.tag_text }}</a></h1>
    <h2>{{ site.description }}</h2>
    {% include nav.html %}
    <hr />
    <p><strong class="numeros">{{ site.jornalistas}}</strong> demissões de jornalistas em redações</p>
    <p><strong class="numeros">{{ site.total}}</strong> demissões totais de empresas de mídia </p>
    <p><small><em>{{ site.atualizacao }}</em></small></p>
    <hr /> <br />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="js/d3.js"></script>
    <script src="js/d3plus.js"></script>
    <div id="grafico"> </div>
    <script src="graficos/principal.js"></script>
    <hr /> <br />
    {{ content }}
  </div>
  {% include footer.html %}
  {% include scripts.html %}
</body>
</html>
