<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Aldrich" rel="stylesheet">
{% include head.html %}
</head>
<body>
{% include headbar.html %}
<div class="container">
    <h1><a href="index.html">{{ site.tag_text }}</a></h1>
    <h2>{{ site.description }}</h2>
    {% include nav.html %}
    </div>
    <div class="break">
      <div class="container">
    <p><strong class="numeros">{{ site.jornalistas}}</strong> demissões de jornalistas em redações desde 2012</p>
    <p><strong class="numeros">{{ site.total}}</strong> demissões totais em empresas de mídia </p>
    <p><small><em>Última atualização em {{ site.atualizacao }}</em></small></p>
      {{ content }}
      </div>
    </div>
      </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="js/d3.js"></script>
    <script src="js/d3plus.js"></script>
    <div class="container">
        <div style="text-align:center">
        <h3>Demissões de jornalistas por ano, desde 2012</h3>
        <br />
  <ul>
    <li style="background-color:#386cb0;padding: 5px;color:#fff"><span> > 300 demissões/ano</span></li>
    <li style="background-color:#9ecae1;padding: 5px;color:#444"><span> < 300 demissões/ano</span></li>
  </ul>
        </div>
    <div id="chart"> </div>
    <br />
    <div id="grafico"> </div>
    <script src="graficos/barras_ano.js"></script>
    <script src="graficos/principal.js"></script>
    <br />
  </div>
  {% include footer.html %}
  {% include scripts.html %}
  <style>
  body{
  background-color: #fff;
  font-family: Inconsolata, sans-serif;
  color: #222
}

span{
  font-weight: 700;
  font-size: 18px;
}

ul {
  overflow: auto;
  margin: 0px
}

ul li {
  display: inline-block;
}
  </style>
</body>
</html>
